html {
  background-color: #bed6bf;
}
.name {
  background-color: #f4fbfc;
  border-radius: 10px;
  border-color: black;
  border-width: 2px;
  margin: 2px;
  padding: 3px;
}
.submit-btn {
  background-color: #f4fbfc;
  border-radius: 10px;
  border-color: black;
  border-width: 2px;
}
.review1, .review2, .box {
  border: solid 2px;
  border-color:black;
  width:400px;
}
